/*MAIN COLORS VARABLES*/

$frontier-red: #ec303b;
$frontier-red-offset: #c32c35;
$frontier-black: #000000;
$frontier-blue: #84dfee;
$frontier-blue-offset: #83c1cb;
$basic-white: #ffffff;

/*SITEWIDE FONTS*/

$display-font: 'Montserrat', sans-serif;
$normal-text: 'Open Sans', sans-serif;
