/*IMPORTS*/

@import url('../fonts/Montserrat/Montserrat-Bold.ttf');
@import url('../fonts/Montserrat/Montserrat-Regular.ttf');
@import url('../fonts/Open_Sans/OpenSans-Bold.ttf');
@import url('../fonts/Open_Sans/OpenSans-Regular.ttf');

/*MAIN COLORS VARABLES*/

$frontier-red: #ec303b;
$frontier-red-offset: #c32c35;
$frontier-black: #000000;
$frontier-blue: #84dfee;
$frontier-blue-offset: #83c1cb;
$basic-white: #ffffff;

/*SITEWIDE FONTS*/

$display-font: 'Montserrat', sans-serif;
$normal-text: 'Open Sans', sans-serif;

/*GLOBALS*/

body {
  margin: 0 auto;
  width: 100%;
}

img{
  width: 100%;
  height: auto;
}

section{
  float: left;
  width: 100%;
  height: auto;
  padding-top: 35px;
  padding-bottom: 35px;
}

/*CUSTOM COLUMN STRUCTURE*/

.wrapper{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
}

.row{
  margin-right: -15px;
  margin-left: -15px;
}

.col-full-width{
  width: 100%;
  float: left;
}

.col-one-half{
  float: left;
  width: 50%;
}

.col-one-third{
  float: left;
  width: 33.3333333%;
}

.col-one-quarter{
  float: left;
  width: 16.6666666%;
}

.col-one-eight{
  float: left;
  width: 66.66666667%;
}

.col-full-width,
.col-one-half,
.col-one-third{
  position: relative;
  min-height: 1px;
  padding-left: -15px;
  padding-right: -15px;
}

/*GLOBAL CONTENT*/

h1,h2,h3,h4,h5,h6{
  font-family: $display-font;
  font-weight: bold;
}

.blue-button{
  background-color: $frontier-blue;
  font-family: $display-font;
  font-weight: bold;
  font-size: 22px;
  color: $basic-white;
  text-transform: uppercase;
  width: auto;
  height: auto;
  padding: 15px 20px;
  border: none;
  border-bottom: 3px solid $frontier-blue-offset;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.blue-button:hover{
  background-color: $frontier-red;
  border-bottom: 3px solid $frontier-red-offset;
}

.red-button{
  background-color: $frontier-red;
  font-family: $display-font;
  font-weight: bold;
  font-size: 22px;
  color: $basic-white;
  text-transform: uppercase;
  width: auto;
  height: auto;
  padding: 15px 20px;
  border: none;
  border-bottom: 3px solid $frontier-red-offset;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.red-button:hover{
  background-color: $frontier-blue;
  border-bottom: 3px solid $frontier-blue-offset;
}

/*HEADER*/

header{
  width: 100%;
  height: auto;
  float: left;

  .top-nav-bar{
    float: left;
    width: 100%;
    height: 74px;
    background-color: $frontier-red;

    .phone-number{
      float: right;

      ul{
        margin-left: 0;
        padding-left: 0;

        li{
          list-style: none;

          #phone-icon{
            float: left;
            display: inline-block;
            background-image: url(../images/top-nav-phone-number-icon.png);
            height: 45px;
            width: 45px;
            vertical-align: middle;
            margin-right: 15px;
          }

          a{
            text-decoration: none;
            color: $basic-white;
            font-family: $display-font;
            font-size: 34px;
          }

        }

      }

    }

  }

  .header-main{

    background-color: $basic-white;
    float: left;
    width: 100%;
    height: 90px;

    .logo{

      float: left;
      width: 100%;
      height: auto;

      a{
        float: left;
        width: 100%;
        height: auto;
      }

      img{
        width: 200px;
        height: 84px;
      }

    }

    nav.main-navigation{
      float: left;
      height: auto;
      width: 100%;
      text-align: center;

      ul{

        padding-left: 0;
        margin-left: 0;
        margin-top: 35px;

        li{
          list-style: none;
          display: inline-block;
          padding-left: 15px;
          padding-right: 15px;

          a{
            text-decoration: none;
            color: $frontier-black;
            text-transform: uppercase;
            font-family: $normal-text;
          }

          a:hover{
            color: $frontier-red;
            border-bottom: 3px solid $frontier-black;
          }

        }

      }

    }/*END .MAIN NAVIGATION*/

    .order-now-cta{

      padding-top: 12px;

      a{
        float: left;
        width: 100%;
        height: auto;
      }

    }/*END .ORDER-NOW-CTA*/

  }/*END .HEADER-MAIN*/

}/*END HEADER SECTION*/

.content{

  float: left;
  width: 100%;
  height: auto;

  .campaign-box{

    background-image:url(../images/homepage-slider-background-image.jpg);
    background-size: cover;

    .campaign-content{

      text-align: center;

      .title-large{
        font-size: 52px;
      }

    }

  }

}
