/*GLOBAL CONTENT*/

h1,h2,h3,h4,h5,h6{
  font-family: $display-font;
  font-weight: bold;
}

p{
  font-family: $normal-text;
  font-size: 15px;
  line-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}
