/** PULL IN FONTS FROM FONT FILES **/
/*IMPORT FONTS FOR GLOABL USE*/
@import url("../fonts/Montserrat/Montserrat-Bold.ttf");
@import url("../fonts/Montserrat/Montserrat-Regular.ttf");
@import url("../fonts/Open_Sans/OpenSans-Bold.ttf");
@import url("../fonts/Open_Sans/OpenSans-Regular.ttf");
/** PULL IN CUSTOM GLOBAL VARIABLES **/
/*MAIN COLORS VARABLES*/
/*BORDERS*/
/*SITEWIDE FONTS*/
/*BUTTON TRANSITIONS*/
/*RESPONSIVE MEDIA QUERIES*/
/** PULL IN CUSTOM COLUMN STRUCTURE **/
/*GLOBALS*/
body {
  margin: 0 auto;
  width: 100%; }

img {
  width: 100%;
  height: auto; }

section,
.footer-cta,
footer {
  float: left;
  width: 100%;
  height: auto;
  padding-top: 92px;
  padding-bottom: 99px; }

/*CUSTOM COLUMN STRUCTURE*/
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.col-full-width {
  width: 100%;
  float: left; }

.col-one-half {
  float: left;
  width: 50%; }

.col-one-third {
  float: left;
  width: 30.333%; }

.col-one-quarter {
  float: left;
  width: 16.6666666%; }

.col-one-eight {
  float: left;
  width: 66.66666667%; }

.col-full-width,
.col-one-half,
.col-one-third {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

/** PULL IN GLOBAL CONTENT EDITS **/
/*GLOBAL CONTENT*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0; }

/** PULL IN GLOBAL ELEMENTS EDITS **/
/*GLOBAL ELEMENTS*/
button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  transition: 0.2s all ease-in-out; }

button.blue-button {
  background-color: #84dfee;
  border-bottom: 3px solid #83c1cb; }

button.blue-button:hover {
  background-color: #ec303b;
  border-bottom: 3px solid #c32c35; }

button.red-button {
  background-color: #ec303b;
  border-bottom: 3px solid #c32c35; }

button.red-button:hover {
  background-color: #84dfee;
  border-bottom: 3px solid #83c1cb; }

/* MODAL BOXES */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  /* MODAL CONTENT */
  /* EXIT BUTTON */ }
  .modal .modal-content {
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    margin: 15% auto;
    padding: 32px;
    border: 1px solid #ec303b;
    width: 80%; }
    .modal .modal-content .modal-header {
      text-align: center;
      font-size: 28px; }
    .modal .modal-content .modal-footer {
      margin-top: 15px;
      text-align: center; }
  .modal .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold; }
  .modal .close:hover,
  .modal .close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer; }

/*END MODAL*/
/** PULL IN DESIGN SCSS **/
/*HEADER*/
header {
  width: 100%;
  height: auto;
  float: left;
  /*END .HEADER-MAIN*/ }
  header .top-nav-bar {
    float: left;
    width: 100%;
    height: 74px;
    background-color: #ec303b; }
    header .top-nav-bar .phone-number {
      float: right; }
      header .top-nav-bar .phone-number ul {
        margin-left: 0;
        padding-left: 0; }
        header .top-nav-bar .phone-number ul li {
          list-style: none; }
          header .top-nav-bar .phone-number ul li #phone-icon {
            float: left;
            display: inline-block;
            background-image: url(../images/top-nav-phone-number-icon.png);
            height: 45px;
            width: 45px;
            vertical-align: middle;
            margin-right: 15px; }
          header .top-nav-bar .phone-number ul li a {
            text-decoration: none;
            color: #ffffff;
            font-family: "Montserrat", sans-serif;
            font-size: 34px; }
  header .header-main {
    background-color: #ffffff;
    float: left;
    width: 100%;
    height: 90px;
    /*END .MAIN NAVIGATION*/
    /*END .ORDER-NOW-CTA*/ }
    header .header-main .logo {
      float: left;
      width: 100%;
      height: auto; }
      header .header-main .logo a {
        float: left;
        width: 100%;
        height: auto; }
      header .header-main .logo img {
        width: 200px;
        height: 84px; }
    header .header-main nav.main-navigation {
      float: left;
      height: auto;
      width: 100%;
      text-align: center; }
      header .header-main nav.main-navigation ul {
        padding-left: 0;
        margin-left: 0;
        margin-top: 35px; }
        header .header-main nav.main-navigation ul li {
          list-style: none;
          display: inline-block;
          padding-left: 15px;
          padding-right: 15px; }
          header .header-main nav.main-navigation ul li a {
            text-decoration: none;
            color: #000000;
            text-transform: uppercase;
            font-family: "Open Sans", sans-serif;
            transition: 0.2s all ease-in-out; }
          header .header-main nav.main-navigation ul li a:hover {
            color: #ec303b;
            border-bottom: 3px solid #000000; }
    header .header-main .order-now-cta {
      padding-top: 12px; }
      header .header-main .order-now-cta a {
        float: left;
        width: 100%;
        height: auto; }

/*END HEADER SECTION*/
header.stickytop {
  position: fixed;
  top: 0;
  z-index: 9999; }
  header.stickytop .header-main {
    border-bottom: 1px solid #ec303b; }

.content {
  float: left;
  width: 100%;
  height: auto;
  /*END .SERVICE-BENEFITS*/
  /*END .FOOTER-CTA*/ }
  .content .campaign-box {
    background-image: url(../images/homepage-slider-background-image.jpg);
    background-size: cover; }
    .content .campaign-box .campaign-content {
      text-align: center; }
      .content .campaign-box .campaign-content .title-large {
        font-size: 52px; }
      .content .campaign-box .campaign-content .description-text {
        font-size: 37px;
        line-height: 52px;
        font-family: "Open Sans", sans-serif; }
      .content .campaign-box .campaign-content .price-description {
        font-family: "Open Sans", sans-serif;
        font-size: 27px;
        font-weight: normal; }
        .content .campaign-box .campaign-content .price-description .large-price {
          display: block;
          text-align: center;
          font-size: 73px;
          font-family: "Montserrat", sans-serif;
          font-weight: bold;
          padding-top: 15px;
          padding-bottom: 15px; }
  .content .campaign-box:after {
    background-image: transparent;
    background-color: #ffffff;
    bottom: 0;
    content: '';
    display: block;
    height: 57px;
    left: 0;
    position: relative;
    right: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    -ms-transform-origin: 205%;
    -webkit-transform-orgin: 205%;
    top: 632px;
    z-index: 9998; }
  .content .service-benefits .benefit-box {
    text-align: center;
    border: 1px solid #ec303b;
    border-radius: 5px; }
    .content .service-benefits .benefit-box .bottom-half h3 {
      font-size: 23px; }
    .content .service-benefits .benefit-box .bottom-half h3:after {
      content: '-';
      display: block;
      padding-top: 0px;
      height: 0px;
      width: 100%;
      color: #ec303b; }
    .content .service-benefits .benefit-box .cta-button {
      position: relative;
      top: 30px; }
  .content .footer-cta {
    background-image: url(../images/footer-slider-background-image.jpg);
    background-size: cover;
    text-align: center;
    background-attachment: fixed; }
    .content .footer-cta .footer-title-large p {
      font-size: 72px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold; }
    .content .footer-cta .footer-title-large p.subtext {
      font-family: "Open Sans", sans-serif;
      font-size: 35px; }
    .content .footer-cta .cta-buttons {
      margin-top: 94px; }
      .content .footer-cta .cta-buttons p {
        font-size: 35px;
        font-weight: bold;
        line-height: 52px;
        margin-bottom: 32px; }
  .content .footer-cta:before {
    display: block;
    content: '';
    background-color: #ffffff;
    position: relative;
    height: 67px;
    top: 13px;
    left: 0;
    right: 0;
    transform: skewY(2.5deg);
    transform-origin: 205%;
    -ms-transform-origin: 205%;
    -webkit-transform-orgin: 205%; }

/*END .CONTENT*/
footer {
  text-align: center; }
  footer a {
    color: #ec303b;
    text-transform: uppercase; }
  footer a:hover {
    color: #c32c35; }

/** PULL IN THEME RESPONSIVENESS **/
/*MEDIA QUERIES*/
@media (min-width: 320px) {
  .wrapper {
    width: 100%; }
  header .top-nav-bar .phone-number {
    float: left;
    text-align: center; }
    header .top-nav-bar .phone-number ul li #phone-icon {
      display: none; } }
