/*IMPORTS*/
@import url("../fonts/Montserrat/Montserrat-Bold.ttf");
@import url("../fonts/Montserrat/Montserrat-Regular.ttf");
@import url("../fonts/Open_Sans/OpenSans-Bold.ttf");
@import url("../fonts/Open_Sans/OpenSans-Regular.ttf");
/*MAIN COLORS VARABLES*/
/*SITEWIDE FONTS*/
/*GLOBALS*/
body {
  margin: 0 auto;
  width: 100%; }

img {
  width: 100%;
  height: auto; }

section {
  float: left;
  width: 100%;
  height: auto;
  padding-top: 35px;
  padding-bottom: 35px; }

/*CUSTOM COLUMN STRUCTURE*/
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.col-full-width {
  width: 100%;
  float: left; }

.col-one-half {
  float: left;
  width: 50%; }

.col-one-third {
  float: left;
  width: 33.3333333%; }

.col-one-quarter {
  float: left;
  width: 16.6666666%; }

.col-one-eight {
  float: left;
  width: 66.66666667%; }

.col-full-width,
.col-one-half,
.col-one-third {
  position: relative;
  min-height: 1px;
  padding-left: -15px;
  padding-right: -15px; }

/*GLOBAL CONTENT*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

.blue-button {
  background-color: #84dfee;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  width: auto;
  height: auto;
  padding: 15px 20px;
  border: none;
  border-bottom: 3px solid #83c1cb;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

.blue-button:hover {
  background-color: #ec303b;
  border-bottom: 3px solid #c32c35; }

.red-button {
  background-color: #ec303b;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
  text-transform: uppercase;
  width: auto;
  height: auto;
  padding: 15px 20px;
  border: none;
  border-bottom: 3px solid #c32c35;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

.red-button:hover {
  background-color: #84dfee;
  border-bottom: 3px solid #83c1cb; }

/*HEADER*/
header {
  width: 100%;
  height: auto;
  float: left;
  /*END .HEADER-MAIN*/ }
  header .top-nav-bar {
    float: left;
    width: 100%;
    height: 74px;
    background-color: #ec303b; }
    header .top-nav-bar .phone-number {
      float: right; }
      header .top-nav-bar .phone-number ul {
        margin-left: 0;
        padding-left: 0; }
        header .top-nav-bar .phone-number ul li {
          list-style: none; }
          header .top-nav-bar .phone-number ul li #phone-icon {
            float: left;
            display: inline-block;
            background-image: url(../images/top-nav-phone-number-icon.png);
            height: 45px;
            width: 45px;
            vertical-align: middle;
            margin-right: 15px; }
          header .top-nav-bar .phone-number ul li a {
            text-decoration: none;
            color: #ffffff;
            font-family: "Montserrat", sans-serif;
            font-size: 34px; }
  header .header-main {
    background-color: #ffffff;
    float: left;
    width: 100%;
    height: 90px;
    /*END .MAIN NAVIGATION*/
    /*END .ORDER-NOW-CTA*/ }
    header .header-main .logo {
      float: left;
      width: 100%;
      height: auto; }
      header .header-main .logo a {
        float: left;
        width: 100%;
        height: auto; }
      header .header-main .logo img {
        width: 200px;
        height: 84px; }
    header .header-main nav.main-navigation {
      float: left;
      height: auto;
      width: 100%;
      text-align: center; }
      header .header-main nav.main-navigation ul {
        padding-left: 0;
        margin-left: 0;
        margin-top: 35px; }
        header .header-main nav.main-navigation ul li {
          list-style: none;
          display: inline-block;
          padding-left: 15px;
          padding-right: 15px; }
          header .header-main nav.main-navigation ul li a {
            text-decoration: none;
            color: #000000;
            text-transform: uppercase;
            font-family: "Open Sans", sans-serif; }
          header .header-main nav.main-navigation ul li a:hover {
            color: #ec303b;
            border-bottom: 3px solid #000000; }
    header .header-main .order-now-cta {
      padding-top: 12px; }
      header .header-main .order-now-cta a {
        float: left;
        width: 100%;
        height: auto; }

/*END HEADER SECTION*/
.content {
  float: left;
  width: 100%;
  height: auto; }
  .content .campaign-box {
    background-image: url(../images/homepage-slider-background-image.jpg);
    background-size: cover; }
    .content .campaign-box .campaign-content {
      text-align: center; }
      .content .campaign-box .campaign-content .title-large {
        font-size: 83px; }
